body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("table.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  margin-top: 300px;
  font-weight: bold;
  font-size: 30px;
}

h1 {
  color: goldenrod;
}

#message-el{
  font-style: italic;
}

.btn-grp {
  display: inline-block;
}

button {
  display: block;
  color: #016f32;
  width: 300px;
  background-color: goldenrod;
  font-weight: bold;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 2px;
  margin-bottom: 4px;
  margin-top: 4px;
}
